.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;

  flex-wrap: wrap;
  width: 90%;
  margin: 10px 30px;
  
}
.card {
    background-color: rgb(230, 242, 238);
  width: 30em;
  height: 100%;
  margin: 2em 0.5em;
  padding: 0.5em;
  border-radius: 10px;
}
img{
    width: 400px;
}
.card-body{
    padding: 10px;
   
}
.btn{
    margin-bottom: 5px;
}
.footer {
    font-size: 14px;
    margin: 2px;
    padding: 5px;
    display: flex;
    width: 100%;
    border-top: 2px solid rgb(237, 208, 208);
}
.footer li{
    position: relative;
    right: -50px;
}


